{% extends '::default.html.twig' %}
{% block styles %}
    <!-- PNotify -->
    <script src="{{ asset('assets/vendor/plugins/pnotify/pnotify.js') }}"></script>
{% endblock %}
{% block body %}
    <!-- Start: CONTENT WRAPPER -->
    <section id="content_wrapper">
        <!-- Start: TOPBAR -->
        <header id="topbar">
            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="crumb-active">
                        <a href="{{ path('dashboard') }}">Dashboard</a>
                    </li>
                    <li class="crumb-icon">
                        <a href="{{ path('dashboard') }}">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                </ol>
            </div>
        </header>
        <!-- End: TOPBAR -->

        <!-- Begin: CONTENT -->
        <section id="content" >
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Panel title</span>
                </div>
                <div class="panel-body">
                    {% for flash_message in app.session.flashBag.get('welcome') %}
                        <div class="alert alert-system alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="fa fa-cubes pr10"></i>
                            <strong>{{ flash_message }}</strong>
                            It is great to see you again!
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End: CONTENT-->
    </section>
{% endblock %}